@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/flex.scss";
@import "~taro-ui/dist/style/components/divider.scss";
@import "~taro-ui/dist/style/components/modal.scss";
@import "~taro-ui/dist/style/components/form.scss";
@import "~taro-ui/dist/style/components/input.scss";
@import "~taro-ui/dist/style/components/textarea.scss";
@import "~taro-ui/dist/style/components/rate.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/icon.scss";

.style-header {
  padding-left: 20px;
  font-weight: bold;
  font-size: 45px;
  margin: 10px;
}

.style-tableHeader {
  font-weight: bold;
  color: black;
  font-size: 1.2em;
  padding-right: 15px;
}

// .style-rowItem {
//   // background-color: gray;
//   border-bottom-style: 10px;

// }

.style-divider {
  height: 1px;
}

.style-id {
  // width: 10%;    
  border-bottom-style: dotted;
  border-width: 2px;
  border-color: black;
  margin-top: 25px;
  padding-bottom: 10px;
  padding-right: 35px;
  text-align: right;  
}

.style-title {
  // width: 40%;  
  border-bottom-style: dotted;
  border-width: 2px;
  border-color: black;
  margin-top: 25px;
  padding-bottom: 10px;
  padding-left: 15px;
  //font-weight: bold;
}

.style-rating {
  // width: 20%;  
  border-bottom-style: dotted;
  border-width: 2px;
  border-color: black;
  text-align: right;
  margin-top: 30px;
  padding-bottom: 10px;
  padding-right: 0px;
}

.style-buttonEditColumn {
  // width: 15%;  
  border-bottom-style: dotted;
  border-width: 2px;
  border-color: black;  
  margin-top: 18px;
  padding-bottom: 10px; 
  padding-left: 15px;
}

.style-buttonDeleteColumn {
  // width: 15%;  
  border-bottom-style: dotted;
  border-width: 2px;
  border-color: black;  
  margin-top: 18px;
  padding-bottom: 10px; 
  padding-right: 15px;
}

.style-twoButton {
  width: 30%;  
  border-bottom-style: dotted;
  border-width: 2px;
  border-color: black;
  margin-top: 25px;
  padding-bottom: 5px;
  text-align: center;  
}

.style-green {
  width: 8px;
  background-color: mediumseagreen;
  border-width: 8px;
  border-color: white;
  border-radius: 15px;  
  line-height: 45px;
}

.style-red {
  width: 8px;
  background-color: red;
  border-width: 8px;
  border-color: white;
  border-radius: 15px;  
  line-height: 45px;  
}

.style-new-book {
  margin: 20px;
}

.style-blue {
  width: 30%;;
  // padding-left: 10px;
  background-color: dodgerblue;
  border-color: white;
  border-radius: 10px;  
  height: 70px;
  line-height: 45px;
  margin-left: 10px;
  text-align: center;
  padding-top: 10px;
}

.style-invalidModal {
  color: red;
  font-weight: bold;
}

.style-textTitle {
  font-weight: bold;
  padding-left: 10px;
  font-size: medium;  
}

.style-inputTitle {
  height: 20px;
  padding-top: 10px;
}

.style-ratingTitle {
  margin-top: 30px;
}

.style-atRating {
  margin-top: 20px;
  padding-left: 30px;
}

.style-modalHeader {
  font-weight: bold;
}

.style-modalOKButton {
  font-weight: bold;
}

.style-modal {
  vertical-align: top;
}

.style-atIcon {
  margin-bottom: 6px;
}